extends layout

mixin message(opp, mid, title, genere)
    if(opp)
        .searchContainer
            form#search.search-box(method="post" action="/moviesearch")
                input.search-text(type='text' name='title' placeholder='Type to serach')
                input.search-btn(type='submit')
          
        .movieTableContainer
            table.movieTable
                tr.movieTableHeadRow
                    th.movieTableCells movie id
                    th.movieTableCells movie title
                    th.movieTableCells genre 
                    tr.movieTableRow(id=mid)
                        td.movieTableCells= mid
                        td.movieTableCells= title
                        td.movieTableCells= genere
                        
        .checkoutContainer Check Out!
    else 
        h1.greeting Welcome 
            span=mid
            span=title
            span=genere
            |  to our website


append links 
    li(style="float: right;")
        a(href="/logout") Logout 
    li(style="float: right;") 
        a(href="/Movies") Movies

block content
    .dashboard 
        .movieTableContainer 
            +message(opp, mid, title, genere)